# Network config finetune version
audionet:
  audionet_name: TIGERPHASE2
  audionet_config:
    out_channels: 128
    in_channels: 256
    num_blocks: 8
    upsampling_depth: 5
    win: 960
    stride: 240
    num_sources: 2

# Loss config
loss:
  train:
    loss_func: PITLossWrapper
    sdr_type: pairwise_neg_snr
    config:
      pit_from: pw_mtx
      threshold_byloss: false
  val:
    loss_func: PITLossWrapper
    sdr_type: pairwise_neg_sisdr
    config:
      pit_from: pw_mtx
      threshold_byloss: false

# Training config
training:
  system: AudioLightningModulePenalty1
  gpus: [0,1,2,3,4,5,6,7]  # Use all available GPUs
  parallel: ddp
  epochs: 500
  early_stop:
    monitor: val_loss/dataloader_idx_0
    mode: min
    patience: 30
    verbose: true
  SpeedAug: False
  
# Optim config
optimizer:
  optim_name: adam
  lr: 0.001
  weight_decay: 0

# Sche config
scheduler: 
  sche_name: ReduceLROnPlateau
  sche_config:
    patience: 10
    factor: 0.8

# Data config
datamodule:
  data_name: SingingLibriDataModuleNew
  data_config:
    train_dir: /mnt/bear3/datasets/EchoSet_preprocessed/train
    valid_dir: /mnt/bear3/datasets/EchoSet_preprocessed/val
    test_dir: /mnt/bear3/datasets/EchoSet_preprocessed/test
    n_src: 2
    sample_rate: 24000
    segment_seconds: 4.0
    normalize_audio: false
    batch_size: 1
    num_workers: 16
    pin_memory: true
    persistent_workers: false
    # sing_sing_ratio: 0.45 # 0.2
    # sing_speech_ratio: 0.0 # 0.2
    # same_song_ratio: 0.35 #0.15
    # same_singer_ratio: 0.2 #0.15
    # same_speaker_ratio: 0.0
    # unison_prob: 0.6
    
exp:
  exp_name: penalty1